Plex/src/main/java/com/jasonhhouse/plex/libs/libraries.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Location">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:byte" name="id" use="optional"/>
          <xs:attribute type="xs:string" name="path" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Directory">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Location"/>
      </xs:sequence>
      <xs:attribute type="xs:byte" name="allowSync" use="optional"/>
      <xs:attribute type="xs:string" name="art" use="optional"/>
      <xs:attribute type="xs:string" name="composite" use="optional"/>
      <xs:attribute type="xs:byte" name="filters" use="optional"/>
      <xs:attribute type="xs:byte" name="refreshing" use="optional"/>
      <xs:attribute type="xs:string" name="thumb" use="optional"/>
      <xs:attribute type="xs:byte" name="key" use="optional"/>
      <xs:attribute type="xs:string" name="type" use="optional"/>
      <xs:attribute type="xs:string" name="title" use="optional"/>
      <xs:attribute type="xs:string" name="agent" use="optional"/>
      <xs:attribute type="xs:string" name="scanner" use="optional"/>
      <xs:attribute type="xs:string" name="language" use="optional"/>
      <xs:attribute type="xs:string" name="uuid" use="optional"/>
      <xs:attribute type="xs:int" name="updatedAt" use="optional"/>
      <xs:attribute type="xs:int" name="createdAt" use="optional"/>
      <xs:attribute type="xs:int" name="scannedAt" use="optional"/>
      <xs:attribute type="xs:byte" name="content" use="optional"/>
      <xs:attribute type="xs:byte" name="directory" use="optional"/>
      <xs:attribute type="xs:short" name="contentChangedAt" use="optional"/>
      <xs:attribute type="xs:byte" name="hidden" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="MediaContainer">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Directory" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:byte" name="size"/>
      <xs:attribute type="xs:byte" name="allowSync"/>
      <xs:attribute type="xs:string" name="identifier"/>
      <xs:attribute type="xs:string" name="mediaTagPrefix"/>
      <xs:attribute type="xs:int" name="mediaTagVersion"/>
      <xs:attribute type="xs:string" name="title1"/>
    </xs:complexType>
  </xs:element>
</xs:schema>